<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Match Valley</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
                   /img/home/logo-desk.png 1x,
                   /img/home/logo-desk@2x.png 2x
                   " media="(min-width: 1440px)" />
                <source srcset="
                   /img/home/logo-mob.png 1x,
                    /img/home/logo-mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                <img class="home-logo" src="/img/home/logo-mob.png" alt="Match Valley" loading="lazy" />
            </picture>
            <p class="hero-text">Match, Restore, and Bring the Valley Back to Life.</p>
            <p class="hero-text-two">Solve puzzles, fix up the valley - it's pretty satisfying watching everything come together.</p>
            <a class="home-link"
                href="https://play.google.com/store/apps/details?id=com.talemonster.matchvalley&hl=en&gl=us">
                <img src="/img/home/playstore.png" alt="playstore" loading="lazy">
                <img src="/img/home/button.png" alt="Google Play" loading="lazy">
            </a>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <h2>About the Game</h2>
        <p class="about-text">Beat levels, get materials, then use those to spruce up farms, houses, gardens - you know, the works. We want the
        visuals to really show how the valley comes back to life as you play.</p>
        <ul class="about-list">
            <li class="about-item">
                <img src="/img/about/one.png" alt="icon" loading="lazy">
                <p>Classic match-3 mechanics</p>
            </li>
            <li class="about-item">
                <img src="/img/about/two.png" alt="icon" loading="lazy">
                <p>Level-based progression</p>
            </li>
            <li class="about-item">
                <img src="/img/about/three.png" alt="icon" loading="lazy">
                <p>Environmental restoration system</p>
            </li>
            <li class="about-item">
                <img src="/img/about/four.png" alt="icon" loading="lazy">
                <p>Boosters and combo explosions</p>
            </li>
        </ul>
    </div>
</section>