<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Match Valley</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
                   /img/home/logo-desk.png 1x,
                   /img/home/logo-desk@2x.png 2x
                   " media="(min-width: 1440px)" />
                <source srcset="
                   /img/home/logo-mob.png 1x,
                    /img/home/logo-mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                <img class="home-logo" src="/img/home/logo-mob.png" alt="Match Valley" loading="lazy" />
            </picture>
            <p class="hero-text">Match, Restore, and Bring the Valley Back to Life.</p>
            <p class="hero-text-two">Solve puzzles, fix up the valley - it's pretty satisfying watching everything come together.</p>
            <a class="home-link"
                href="https://play.google.com/store/apps/details?id=com.talemonster.matchvalley&hl=en&gl=us">
                <img src="/img/home/playstore.png" alt="playstore" loading="lazy">
                <img src="/img/home/button.png" alt="Google Play" loading="lazy">
            </a>
        </div>
    </div>
</section>