body{
  font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #323232;
}
h2{
  font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.4;
    text-align: center;
    color: #47a7cd;
    margin-bottom: 16px;
}
@media only screen and (min-width: 1440px) {
  body{
  font-size: 24px;
  }
  h2{
    font-size: 62px;
  }
}