.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    margin-top: 360px;
    border: 4px solid #f6821b;
        border-radius: 36px;
        padding: 32px 16px;
        width: 343px;
        height: 345px;
background: #fff;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
padding: 104px 10px 32px;
}
.home-logo{
    position: absolute;
    top: -20%;
    left: 23%;
}
.hero-text{
    font-family: "Manrope", sans-serif;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.4;
        text-transform: uppercase;
        text-align: center;
        color: #323232;
}
.hero-text-two{
    margin-top: 8px;
    font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        color: #323232;
}
.home-link{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 50px;
        padding: 12px 20px;
        width: 311px;
        height: 65px;
background: linear-gradient(180deg, #f9851e 0%, #dc6800 100%);
transform:background 0.3s ease-in-out;
}
.home-link:hover{
    background: linear-gradient(180deg, #ff7800 0%, #d83d00 100%);
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
 }
 .home-container{
    padding-right: 144px;
 }
 .home-wrapper{
    margin-top: 260px;
    margin-right: 0;
    margin-left: auto;
width: 561px;
    height: 362px;
        padding: 105px 32px 32px;
 }
 .home-logo{
    top: -50%;
 }
 .hero-text{
    font-size: 26px;
 }
 .hero-text-two{
    font-size: 16px;
    width: 352px;
 }
 .home-link{
    width: 240px;
 }
}
/* About the Game */
.about-list{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.about-item{
    display: flex;
    flex-direction: column;
        align-items: center;
        gap: 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}
.about-container{
    padding-top: 80px;
}
@media only screen and (min-width: 1440px) {
.about-container{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-text{
    width: 864px;
}
.about-list{
    margin-top: 64px;
    gap: 32px;
    flex-direction: row;
    justify-content: center;
}
.about-item{
    width: 248px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 20px;
}
}
/* How to Play */
.pink{
    color: #ff3f8b;
}
.how-section{
    background: #fff3ec;
}
.how-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-text{
    font-family: "Manrope", sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.4;
        text-align: center;
        color: #323232;
}
.how-list-wrapper{
    margin-top: 40px;
    display: flex;
        flex-direction: column;
            align-items: center;
            gap: 24px;
}
.how-wrap{
    border-radius: 36px;
        padding: 32px;
        width: 343px;
        height: auto;
background: linear-gradient(180deg, #ffb1c3 0%, rgba(255, 255, 255, 0) 100%);
gap: 32px;
display: flex;
flex-direction: column;
gap: 32px;
align-items: start;
}
.how-subtitle{
    font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.4;
        color: #323232;
        text-align: left;
}
.how-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.how-item{
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Manrope", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.5;
        color: #323232;
        text-align: left;
}
.how-wrap-two{
background: linear-gradient(180deg, #a9efff 0%, rgba(255, 255, 255, 0) 100%);
}
.how-wrap-two p{
font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #323232;
    text-align: left;
}
.how-img{
    margin-top: 24px;
}
@media only screen and (min-width: 1440px) {
   .how-text{
    width: 602px;
   }
   .how-wrapper{
    display: flex;    
    flex-direction: row;
    align-items: center;
    margin-top: 64px;
    gap: 64px;
   }
   .how-list-wrapper{
    width: 527px;
    gap: 64px;
   }
   .how-wrap{
    width: 527px;
    padding: 48px;
   }
.how-subtitle{
    font-size: 42px;
}
.how-item{
    font-size: 20px;
}
.how-wrap-two p {
font-size: 20px;
}
}